{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<body>
    <h1>{{ book.title }}</h1>
    <table>
        <tbody>
        <div class="row text-center">

        <div class="col-lg-2 col-md-2 mb-2">
          <div class="card">
            <img class="card-img-top" src="{{ book.image_url }}" alt="">
          </div>
        </div>

        <div class="col-10">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Descrição</h4>
              <p class="card-text">{{ book.description|safe  }}</p>
                <h4 class="card-title">Detalhes</h4>
                <p class="card-text">Autor: {{ book.author }}</p>
                <p class="card-text">Ano de lançamento: {{ book.year }}</p>
                <p class="card-text">Isbn: {{ book.isbn }}</p>
                <p class="card-text">Rate Books nota: {{ book.avg }}</p>
                <p class="card-text">Goodreads nota: {{ book.good.books[0].average_rating }}</p>
            </div>
          </div>
        </div>
      </div>

      {% if book.reviewable and session.get('user_id') %}
          <h4> Deixe sua opnião! </h4>
          <form  action="{{url_for('index.set_review')}}" role="form" method="post" id="reused_form" >
            <div class="form-group">
                  <label for="nota">Nota</label>
                <input type="number" class="form-control" name="rate" required maxlength="50" max=5 min=0>
            </div>
            <div class="form-group">
                <label for="comentario">Revisão</label>
                <textarea class="form-control" type="textarea" name="commentary" placeholder="Escreva sua revisão" maxlength="6000" rows="7"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Enviar</button>
          </form>
        </br>
      </br>
      {% endif %}

      <h4> Revisões Gerais </h3>
      <table class="table table-striped">
          <tbody>
              <thead>
                <thead>
                  <tr>
                    <th scope="col">Usuário</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Avaliação</th>
                  </tr>
                </thead>
            {% for revisao in reviews %}
                <tbody>
                  <tr>
                      <td>{{ revisao.username }}</td>
                      <td>{{ revisao.rate }}</td>
                      <td>{{ revisao.commentary }}</a></td>
                  </tr>
                </tbody>

            {% endfor %}
          </tbody>
      </table>

        </tbody>
    </table>
</body>
{% endblock %}
