<!doctype html>
<div class="container">

  <title>{% block title %}{% endblock %} - Rate Books</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1><a href="{{ url_for('index.main') }}">Rate Books</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      {% if g.user %}
        <li><span class="nav-item active">Bem vindo {{ g.user[1]}}</span>
        <li><a href="{{ url_for('auth.logout') }}">Sair</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Cadastre-se</a>
        <li><a href="{{ url_for('auth.login') }}">Entrar</a>
      {% endif %}
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</div>
